<!DOCTYPE html>
<html>
  <head>
    <!-- Subject管理 -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0"
    />
    <link rel="stylesheet" href="../../static/css/reset.css" />
    <link rel="stylesheet" href="../../static/css/common.css" />
    <link rel="stylesheet" href="../../static/css/message.css" />
    <link rel="stylesheet" href="../../static/css/page.css" />
    <title>subjectManagement</title>
  </head>

  <body>
    <div class="w100w h100h p_relative box-sizing padding-sm flex-column">
      <div class="search_form flex align-center">
        <div class="flex margin-right-xl"></div>
        <div class="flex align-center text-lg">
          <!-- <button id="search" class="def_btn bg-blue">Search</button> -->
          <button id="add" class="def_btn bg-orange">Add</button>
        </div>
      </div>
      <div class="flex1 margin-top-sm">
        <table class="tableBox">
          <thead>
            <tr class="w100 flex align-center">
              <th class="w10">ID</th>
              <th class="flex1">Subject</th>
              <th style="width: 200px">Operation</th>
            </tr>
          </thead>
          <tbody class="tg-scroll"></tbody>
        </table>
      </div>

      <!-- 模态窗 -->
      <div class="modal">
        <div class="form">
          <div class="text-df text-bold">
            <span class="modal_title">Add</span
            ><span class="closeModal pointer"> X </span>
          </div>
          <hr />
          <div class="flex flex-column padding-tb padding-lr-sm">
            <div class="field flex align-center margin-bottom">
              <span class="field_label">Subject：</span>
              <input
                id="modal_name"
                class="field_input flex1"
                type="text"
                placeholder="Please enter"
              />
            </div>
          </div>
          <div class="flex align-center justify-center">
            <div class="flex">
              <button class="closeModal def_btn bg-white">Close</button>  
              <button class="addInfo def_btn bg-blue">Confirm</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <style type="text/css"></style>
    <script src="../../static/js/jquery.js"></script>
    <script src="../../static/js/select.js"></script>
    <script src="../../static/js/request.js"></script>
    <script src="../../static/js/storage.js"></script>
    <script src="../../static/js/message.js"></script>
    <script src="../../static/js/utils.js"></script>
    <script>
      $(function () {
        let list = [];
        let logindata = load("logindata") || {};
        function getList() {
          let type = $(".filter-title").val();
          let params = {
            type: type == "All" ? "" : type,
          };
          post(
            "/getSubject",
            params || {},
            function (res) {
              if (res) {
                list = res.data || [];
                updateList();
              }
            },
            function (err) {}
          );
        }
        getList();
        $("#search").click(function () {
          getList();
        });
        $("#add").click(function () {
          showModal();
        });
        $(".closeModal").click(function () {
          closeModal();
        });
        $(".addInfo").click(function () {
          let name = $("#modal_name").val().trim();
          if (!name) {
            $.message({
              type: "error",
              content: "The form is not filled out completely!",
            });
            return;
          }
          post(
            "/addSubject",
            {
              name,
            },
            function (res) {
              getList();
              closeModal();
            },
            function (err) {
              if (err && err.status == 400) {
                $.message({
                  type: "error",
                  content: "Subject already exists!",
                });
              }
            }
          );
        });
        $("tbody").on("click", "#delete", function (e) {
          if (e.target.id === "delete") {
            const id = ~~$(this)
              .parent()
              .parent()
              .parent()
              .children()
              .eq(0)
              .text();
            post(
              "/delSubject",
              { id },
              function (res) {
                if (res) {
                  getList();
                }
              },
              function (err) {}
            );
          }
        });

        //渲染列表数据
        function updateList() {
          $("tbody").html("");
          if (list && list.length) {
            const footer = `<div class="w100 flex justify-around" style="margin: 10px 0">
                    <button id="delete" class="td_btn bg-red ">Delete</button>
                </div>`;
            $("tbody").prepend(
              list.reduce(
                (t, c) =>
                  (t += ` <tr class="w100 flex align-center">
              <td class="w10">${c.id || ""}</td>
              <td class="flex1">${c.name || ""}</td>
              <td style="width: 200px" >
                        ${footer}
                    </td>
      </tr>`),
                ""
              )
            );
          }
        }

        function showModal() {
          $(".modal").fadeIn();
        }
        function closeModal() {
          $(".modal").fadeOut();
          $("#modal_name").val("");
        }
      });
    </script>
  </body>
</html>
